.indxcontainer {
  position: relative;
  text-align: center;
  margin-top: 5%;
  z-index: 2;
  overflow: hidden; 
}

.image {
  width: 80%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative; 
  z-index: 2; 
}

.circ1 {
  position: fixed;
  width: 50vw; 
  height: 50vw; 
  background-color: #d8ebff;
  border-radius: 50%;
  top: 0; 
  left: 0; 
  z-index: 1;
  transform: translate(-25%, -25%); 
}

.image.fade-in {
  opacity: 1;
}
.circ2 {
  position: fixed;
  width: 75vw;
  height: 75vw; 
  background-color: #aad2fc;
  border-radius: 50%;
  bottom: 20%; 
  right: -50%; 
  z-index: 1; 
  opacity: 80%;
}
.projbg {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-color: #d8ebff;
  z-index: 1;
  padding-top: 70vw;
}

  .navbarproj {
    position: fixed;
    width: 75vw;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 10vw;
    text-align: center;
    display: flex;
    gap: 30vw;
    z-index: 2;
    text-decoration: none;
    font-family: american-typewriter;
  }

.navbarind {
    position: fixed;
    width: 75vw;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 10vw;
    text-align: center;
    display: flex;
    gap: 30vw;
    z-index: 200000;
    text-decoration: none;
    font-family: american-typewriter;
  }
  
.projcontainer {
  position: fixed;
  padding-top: 30vw;
  width: 90vw;
  height: auto;
  text-align: left;
  z-index: 1;
  font-family: american-typewriter;
  display: flex;
}
