.indxcontainer {
  position: relative; /* Establishes a positioning context for the absolutely positioned circle */
  text-align: center;
  margin-top: 5%;
  z-index: 2;
  overflow: hidden; /* Hide the overflowing part of the circle */
}

.image {
  width: 80%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative; /* Ensures the image can be layered above other absolutely positioned elements */
  z-index: 2; /* Higher z-index to ensure it appears above the circle */
}

.circ1 {
  position: fixed;
  width: 50vw; /* Use viewport width units for responsiveness */
  height: 50vw; /* Same as width to keep it circular */
  background-color: #d8ebff;
  border-radius: 50%;
  top: 0; /* Position at the top of the container */
  left: 0; /* Position at the left of the container */
  z-index: 1; /* Lower z-index to ensure the circle is behind the image */
  transform: translate(-25%, -25%); /* Adjust to make the circle partially cut off by the viewport */
}

.image.fade-in {
  opacity: 1;
}
.circ2 {
  position: fixed;
  width: 75vw; /* Use viewport width units for responsiveness */
  height: 75vw; /* Same as width to keep it circular */
  background-color: #aad2fc;
  border-radius: 50%;
  bottom: 20%; 
  right: -50%; 
  z-index: 1; 
}
.projbg {
  position: fixed;
  width: 80vw;
  height: 80vw;
  background-color: #d8ebff;
  z-index: 1;
}

  .navbar {
    position: fixed;
    width: 75vw;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 10vw;
    text-align: center;
    display: flex;
    gap: 30vw;
    z-index: 2
  }
    
  
