.container {
  text-align: center;
  margin-top: 50px;
}

.image {
  width: 80%;
  height: auto;
}
.fade-in-image { animation: fadeIn 1s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

